.blog{
   
   
    .post{
        &-cover{
            .picture{
                position: relative;
                display: flex;
                justify-content: center;
                position: relative;
                img{
                    max-width: 100%;
                }
            }
           
            
            .post-date{
                position: absolute;
                background-color: $green-light;
                width: 60px;
                height: 70px;
                color: $white;
                // top: 150px;
                // left: -15px;
                transform: translate(-160px, 160px);
                text-align: center;
                span{
                    font-family: Montserrat;
                    font-size: 30px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                p{
                    font-family: "Roboto";
                    font-style: italic;
                    font-size: 15px;
                    font-weight: 200;
                    color: $white;
                    margin: 0;
                }
            }
            .post-header{
                margin-top: 20px;

            }
            .post-header a{
                color: $black;
                font-family: Montserrat;
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
               
            }
            p{
                color: $gray;
                font-family: Roboto;
                font-size: 15px;
                font-weight: 400;
                line-height: 24px;
                margin-top: 20px;

            }
            .post-contact{
                margin-bottom: 20px;
            }
            .post-contact a{
                font-family: "Roboto";
                font-style: italic;
                font-size: 15px;
                font-weight: 400;
                line-height: 24px;
                color: $gray;
                padding-right: 20px;
                span{
                    padding-left: 6px;
                }
            }
        }

    }
    
}