header{
    z-index: 2;
    position: relative;
}

.menu{
    .navbar-toggler {
        // color: $white;
        border-color: rgba(255, 255, 255, 0.445);
    }
    padding-top: 32px;
    &-logo{
        justify-content: flex-start;
    }
    &-content{
        justify-content: flex-end;
        
    }
    .menu-content li a{
        color: $white;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
      
       

    }
    .menu-content .active a{
        color: $yellow;
        border-bottom: 3px solid;
        
    }
    .menu-content li{
        padding-left: 45px !important;
    }
}
