@media(max-width: 1400px){
    .slider{
        &-carusel{
            .inner{
                transform: translate(32%, 30%);
            }
        }
    }
   
}

@media(max-width: 1200px){
    .slider{
        &-carusel{
            .inner{
                transform: translate(25%, 30%);
                h1{
                    font-size: 130px;
                    line-height: 125px;
                }
            }
        }
    }
    .blog{
        .post-cover{
            .post-date{
                transform: translate(-130px, 115px);
            }
        }
    }
}
@media(max-width: 991px){
    header{
        .container{
            max-width: 100%;
            
        }

    }
    .menu{
        background-color: $red;
    }
    .slider{
        &-carusel{
            height: 800px;
            .inner{
               
                h1{
                    font-size: 110px;
                    line-height: 110px;
                    padding-bottom: 30px;
                }
                h2{
                    font-size: 60px;
                }
            }
        }
    }
    .blog{
        .post-cover{
            .post-date{
                transform: translate(-150px, 140px);
            }
        }
    }
}

@media(max-width: 767px){
    .slider{
        &-carusel{
            height: 720px;
            .inner{
                
                h1{
                    font-size: 76px;
                    line-height: 90px;
                    padding-bottom: 30px;
                }
                h2{
                    font-size: 50px;
                }
            }
        }
    }
    .blog{
        .post-cover{
            .post-date{
                transform: translate(-160px, 155px);
            }
            .post-header{
                text-align: center;
            }
            p {
                text-align: center;
            }
            .post-contact{
                text-align: center;
            }
        }
    }
}
@media(max-width: 540px){
    .slider{
        &-carusel{
            height: 500px;
            .inner{
                
                h1{
                    font-size: 60px;
                    line-height: 70px;
                    padding-bottom: 5px;
                }
                h2{
                    font-size: 40px;
                    padding-bottom: 5px;
                }
                button{
                    margin-top: 20px;
                }
            }
        }
    }
}
@media(max-width: 430px){
    .slider{
        &-carusel{
            height: 450px;
            .inner{
               
                h1{
                    font-size: 45px;
                    line-height: 50px;
                    padding-bottom: 5px;
                }
                h2{
                    font-size: 30px;
                   
                }
               
            }
        }
    }
}