.service-inner{
    .service-img img{
        max-width: 100%;
    }
    .card{
        margin-bottom: 10px;
        img{
            padding-right: 15px;
        }
        &-body{
            height:180px;
            overflow-y: auto;
            border: 1px solid $gray-light;
            font-family: "Roboto";
            font-style: italic;
            font-size: 15px;
            font-weight: 400;
            color: $gray;
            // ::-webkit-scrollbar-thumb {
            //     // -webkit-appearance: none;
            //     width: px;
            //     border-radius: 1px;
            //     background-color: $green-light;
            // }
            // ::-webkit-scrollbar {
            //   
            // }
             
            // ::-webkit-scrollbar-track {
            //    
            // }
             
            // ::-webkit-scrollbar-thumb {
            //   
            // }
        }
    }
    .card-header{
        color: $black;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        padding-right: 60px;
        padding-left: 1.25rem;
		position: relative;
        cursor: pointer;
        background-color: $white;
        border-radius: 0;
        border: 1px solid $gray-light;
        :first-child{
            border-radius: 0;
        }
        &[aria-expanded="true"],&[aria-expanded="false"]{
            &:before{
                display: none;
            }
            &::after {
                content: url(../icons/_UP.svg);
                right: 0;
                left: auto;
                line-height: 50px;
                position: absolute;
                text-align: center;
                top: 0;
                width: 50px;
            }
        }
        &[aria-expanded="false"]{
            &::after {
                content: url(../icons/_DOWN.svg);
            }
        }
        
    }
}