
.slider{
   
    margin-top: -95px;
    z-index: 1;
    &-carusel{
        width: auto;
        margin: 0 auto;
        display: flex;
        
        .inner{
            position: absolute;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            transform: translate(50%, 30%);
            h2{
                color: $white;
                font-family: "Kaushan Script";
                font-size: 72px;
                font-weight: 400; 
                padding-bottom: 20px;
            }
            h1{
                color: $white;
                font-family: Montserrat;
                font-size: 150px;
                font-weight: 700;
                line-height: 140px;
                text-transform: uppercase;
                padding-top: 20px;
                padding-bottom: 70px;
            }
            hr{
                width: 60px;
                border-top: 3px solid;
                color: $white;
            }
            button{
                width: 160px;
                height: 40px;
                border: 3px solid $white;
                background-color: rgba(1, 1, 1, 0);
                color: $white;
                margin-top: 45px;
                
            }
            img{
                max-width: 100%;
            }
        }
       
    }
    &-content {
        z-index: 1000;
        bottom: 50px;
        p{
            border-top: 3px solid;
            color: $white;
            margin-right: 2px;
            margin-left: 5px;
            // width: 288px !important;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 400;
            text-transform: uppercase;
            span{
                font-size: 24px;
                font-weight: 700;
            }  
        }
    }
   
}