.team-inner{
    .team-hover{
        position: relative;
        display: flex;
        justify-content: center;
        img{
            max-width: 100%;
            
        }
    }
    .team-social{
        display: none;
      
    }
    .team-hover:hover{
        .item{
            opacity:0.1;
        }
        background-color: $green-light;
        background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
        transform: translate(-10px, -10px);
        box-shadow: 10px 10px 0px 0px rgba(149,225,211,1);
        .team-social{
            display: flex;
            left: 8%;
            list-style-type: none;
            position: absolute;
            top: 42%;
            li{
                background-color: $yellow;
                margin: 0.5px;
                height: 56px;
                width: 56px;
                text-align: center;
                padding-top: 15px;
                
                
                &:hover{
                    cursor: pointer;
                    background-color: $red;
                    a img{
                        filter: brightness(300%);
                    }
                }
            }
        }
        
    }
    
    h6{
        text-align: center;
        color: $black;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 30px;
        margin-bottom: 15px;
    }
    span{
        text-align: center;
        display: block;
        color: $gray;
        font-family: "Roboto";
        font-style: italic;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 20px;
    }
}