
* {
    font-family: 'Roboto', sans-serif;
}
@import 'slick';
@import 'vars';
@import 'mixin';
@import 'header';
@import 'slider';
@import 'blog';
@import 'service';
@import 'team';
@import 'media';




.section-name{
    margin-top: 50px;
    h3{
        color: $black;
        font-family: "Kaushan Script";
        font-size: 24px;
        font-weight: 400;
        text-align: center;
    }
    h4{
        color: $black;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }
    .hr-name{
        width: 60px;
        border-top: 3px solid;
        color: $red;
        margin-top: 40px;
    }
    p{
        color: $gray;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }
}