/*
Theme Name: Landing-Theme
Author: Michael Yegypko
Version: 1.0
*/

* {
    font-family: 'Roboto', sans-serif;
  }
  header .blog .logged-in .admin-bar .no-customize-support{
    background-color: gray;
  }
  /* Slider */
  .slick-slider {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
  }
  
  .slick-list:focus {
    outline: none;
  }
  
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .slick-track:before, .slick-track:after {
    content: "";
    display: table;
  }
  
  .slick-track:after {
    clear: both;
  }
  
  .slick-loading .slick-track {
    visibility: hidden;
  }
  
  .slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
  }
  
  [dir="rtl"] .slick-slide {
    float: right;
  }
  
  .slick-slide img {
    display: block;
  }
  
  .slick-slide.slick-loading img {
    display: none;
  }
  
  .slick-slide.dragging img {
    pointer-events: none;
  }
  
  .slick-initialized .slick-slide {
    display: block;
  }
  
  .slick-loading .slick-slide {
    visibility: hidden;
  }
  
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
  
  .slick-arrow.slick-hidden {
    display: none;
  }
  
  header {
    z-index: 2;
    position: relative;
  }
  
  .menu {
    padding-top: 32px;
  }
  
  .menu .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.445);
  }
  
  .menu-logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  
  .menu-content {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  
  .menu .menu-content li a {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
  }
  
  .menu .menu-content .active a:hover {
    color: #fce38a;
    border-bottom: 3px solid;
  }
  
  .menu .menu-content li {
    padding-left: 45px !important;
  }
  
  .slider {
    margin-top: -95px;
    z-index: 1;
  }
  
  .slider-carusel {
    width: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .slider-carusel .inner {
    position: absolute;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translate(60%, 30%);
            transform: translate(60%, 30%);
  }
  
  .slider-carusel .inner h2 {
    color: #ffffff;
    font-family: "Kaushan Script";
    font-size: 72px;
    font-weight: 400;
    padding-bottom: 20px;
  }
  
  .slider-carusel .inner h1 {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 75px;
    font-weight: 700;
    line-height: 140px;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 70px;
  }
  
  .slider-carusel .inner hr {
    width: 60px;
    border-top: 3px solid;
    color: #ffffff;
  }
  
  .slider-carusel .inner button {
    width: 160px;
    height: 40px;
    border: 3px solid #ffffff;
    background-color: rgba(1, 1, 1, 0);
    color: #ffffff;
    margin-top: 45px;
  }
  
  .slider-carusel .inner img {
    max-width: 100%;
  }
  
  .slider-content {
    z-index: 1000;
    bottom: 50px;
  }
  
  .slider-content p {
    border-top: 3px solid;
    color: #ffffff;
    margin-right: 2px;
    margin-left: 5px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }
  
  .slider-content p span {
    font-size: 24px;
    font-weight: 700;
  }
  
  .blog .post-cover .picture {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  
  .blog .post-cover .picture img {
    max-width: 100%;
  }
  
  .blog .post-cover .post-date {
    position: absolute;
    background-color: #95e1d3;
    width: 60px;
    height: 70px;
    color: #ffffff;
    -webkit-transform: translate(-160px, 160px);
            transform: translate(-160px, 160px);
    text-align: center;
  }
  
  .blog .post-cover .post-date span {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .blog .post-cover .post-date p {
    font-family: "Roboto";
    font-style: italic;
    font-size: 15px;
    font-weight: 200;
    color: #ffffff;
    margin: 0;
  }
  
  .blog .post-cover .post-header {
    margin-top: 20px;
  }
  
  .blog .post-cover .post-header a {
    color: #333333;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .blog .post-cover p {
    color: #999999;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 20px;
  }
  
  .blog .post-cover .post-contact {
    margin-bottom: 20px;
  }
  
  .blog .post-cover .post-contact a {
    font-family: "Roboto";
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #999999;
    padding-right: 20px;
  }
  
  .blog .post-cover .post-contact a span {
    padding-left: 6px;
  }
  
  .service-inner .service-img img {
    max-width: 100%;
  }
  
  .service-inner .card {
    margin-bottom: 10px;
  }
  
  .service-inner .card img {
    padding-right: 15px;
  }
  
  .service-inner .card-body {
    height: 180px;
    overflow-y: auto;
    border: 1px solid #e5e5e5;
    font-family: "Roboto";
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    color: #999999;
  }
  
  .service-inner .card-header {
    color: #333333;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 60px;
    padding-left: 1.25rem;
    position: relative;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 0;
    border: 1px solid #e5e5e5;
  }
  
  .service-inner .card-header :first-child {
    border-radius: 0;
  }
  
  .service-inner .card-header[aria-expanded="true"]:before, .service-inner .card-header[aria-expanded="false"]:before {
    display: none;
  }
  
  .service-inner .card-header[aria-expanded="true"]::after, .service-inner .card-header[aria-expanded="false"]::after {
    /* content: url(../icons/_UP.svg); */
    right: 0;
    left: auto;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 50px;
  }
  
  .service-inner .card-header[aria-expanded="false"]::after {
    /* content: url(../icons/_DOWN.svg); */
  }
  
  .team .team-inner .team-hover {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .team .team-inner .team-hover img {
    max-width: 100%;
  }
  
  .team .team-inner .team-social {
    display: none;
  }
  
  .team .team-inner .team-hover:hover {
    background-color: #95e1d3;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)));
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
    -webkit-box-shadow: 10px 10px 0px 0px #95e1d3;
            box-shadow: 10px 10px 0px 0px #95e1d3;
  }
  
  .team .team-inner .team-hover:hover .item {
    opacity: 0.1;
  }
  
  .team .team-inner .team-hover:hover .team-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 8%;
    list-style-type: none;
    position: absolute;
    top: 42%;
  }
  
  .team .team-inner .team-hover:hover .team-social li {
    background-color: #fce38a;
    margin: 0.5px;
    height: 56px;
    width: 56px;
    text-align: center;
    padding-top: 15px;
  }
  
  .team .team-inner .team-hover:hover .team-social li:hover {
    cursor: pointer;
    background-color: #f38181;
  }
  
  .team .team-inner .team-hover:hover .team-social li:hover a img {
    -webkit-filter: brightness(300%);
            filter: brightness(300%);
  }
  
  .team .team-inner h6 {
    text-align: center;
    color: #333333;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  
  .team .team-inner span {
    text-align: center;
    display: block;
    color: #999999;
    font-family: "Roboto";
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
  }
  
  
  @media (max-width: 1400px) {
    .slider-carusel .inner {
      -webkit-transform: translate(32%, 30%);
              transform: translate(32%, 30%);
    }
  }
  
  @media (max-width: 1200px) {
    .slider-carusel .inner {
      -webkit-transform: translate(25%, 30%);
              transform: translate(25%, 30%);
    }
    .slider-carusel .inner h1 {
      font-size: 70px;
      line-height: 125px;
    }
    .blog .post-cover .post-date {
      -webkit-transform: translate(-130px, 115px);
              transform: translate(-130px, 115px);
    }
  }
  
  @media (max-width: 991px) {
    header .container {
      max-width: 100%;
    }
    .menu {
      background-color: #f38181;
    }
    .slider-carusel {
      height: 800px;
    }
    .slider-carusel .inner h1 {
      font-size: 60px;
      line-height: 110px;
      padding-bottom: 30px;
    }
    .slider-carusel .inner h2 {
      font-size: 60px;
    }
    .blog .post-cover .post-date {
      -webkit-transform: translate(-150px, 140px);
              transform: translate(-150px, 140px);
    }
  }
  
  @media (max-width: 767px) {
    .slider-carusel {
      height: 720px;
    }
    .slider-carusel .inner h1 {
      font-size: 45px;
      line-height: 90px;
      padding-bottom: 30px;
    }
    .slider-carusel .inner h2 {
      font-size: 50px;
    }
    .blog .post-cover .post-date {
      -webkit-transform: translate(-160px, 155px);
              transform: translate(-160px, 155px);
    }
    .blog .post-cover .post-header {
      text-align: center;
    }
    .blog .post-cover p {
      text-align: center;
    }
    .blog .post-cover .post-contact {
      text-align: center;
    }
  }
  
  @media (max-width: 540px) {
    .slider-carusel {
      height: 500px;
    }
    .slider-carusel .inner h1 {
      font-size: 30px;
      line-height: 70px;
      padding-bottom: 5px;
    }
    .slider-carusel .inner h2 {
      font-size: 40px;
      padding-bottom: 5px;
    }
    .slider-carusel .inner button {
      margin-top: 20px;
    }
  }
  
  @media (max-width: 430px) {
    .slider-carusel {
      height: 450px;
    }
    .slider-carusel .inner h1 {
      font-size: 21px;
      line-height: 50px;
      padding-bottom: 5px;
    }
    .slider-carusel .inner h2 {
      font-size: 30px;
    }
  }
  
  .section-name {
    margin-top: 50px;
  }
  
  .section-name h3 {
    color: #333333;
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }
  
  .section-name h4 {
    color: #333333;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  
  .section-name .hr-name {
    width: 60px;
    border-top: 3px solid;
    color: #f38181;
    margin-top: 40px;
  }
  
  .section-name p {
    color: #999999;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }
  /*# sourceMappingURL=style.css.map */